<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Phòng ban</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
                            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
                            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
                            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
                            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>
<body>
    <br>
        <center><h2><p class="text-danger">KHEN THƯỞNG/KỈ LUẬT</p></h2></center>
    <br>
        <div class="container" style="margin-top: 10px;">
            <div class="row" style="border: 2px darkgrey solid; border-radius: 1px; width: 50%; margin-top: 0 auto; padding: 20px; margin-left: 290px;">
                <div class="col-sm-12">
                    <form action="" th:action="@{/records/save}" th:object="${records}" method="post">
                        <div class="form-group">
                            <label><h5>Hình thức</h5></label>
                                <div class="radio">
                                    <!--value = 0 => KhenThuong| 1 =>KiLuat -->
                                    <label class="checkbox-inline"> <input type="radio" th:field="*{Typess}"
                                            name="Records" value="0" id="records1">Khen thưởng
                                    </label> <label class="checkbox-inline"> <input type="radio" th:field="*{Typess}"
                                        name="Records" checked="checked" value="1" id="records2">Kỉ luật
                                    </label>
                                </div>
                            </div>
                                <div class="form-group">
                                        <label ><h4>Lý do</h4></label>
                                    <input type="text" name="Reason" th:field="*{Reason}" class="form-control" placeholder="Enter Reason..." >                          
                                </div>
                            <div class="form-group">
                                <label ><h4>Ngày</h4></label>
                                    <input type="date" name="dates" th:value="*{Dates}" th:field="*{Dates}" class="form-control"  >
                                                             
                            </div> 
                            <div class="form-group">
                                <label ><h4>Mã nhân viên</h4></label>
                                    <input type="text" name="staffID" th:value="*{staffs.ID}" th:field="*{staffs.ID}" class="form-control" readonly="readonly" >                          
                            </div> 
                        <button type="submit" class="btn btn-success">Save</button>
                    </form>
                </div>
            </div>
        </div><!--container-->    
</body>
</html>